<div class="header" style="background-color: {{ settings.header_color }}">
  <h2 style="color:{{ settings.header_text_color }}"> {{ settings.blog_name }}</h2>
</div>

<div class="row">
   <div class="leftcolumn">
       {%  for item in blog_items %}
        <div style="background-color: {{ settings.post_color }}" class="card">
            <h2 style="color: {{ header_color }}"><a href="{% url "detail-view" item.author item.id %}"> {{ item.title }}</a></h2>
          <h5>{{ item.created }}</h5>
          <!--<div class="fakeimg" style="height:200px;">Image</div>-->
          <p>{{ item.text }}</p>
        </div>
       {% endfor %}
   </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <p>{{ settings.about_me }}</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
        {%  for item in popular_posts %}
              <p><a href="{% url 'detail-view' item.author item.id %}">{{  item  }}</a></p>
          {% endfor %}
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
    {% if user == settings.author %}
        <h3><a href="{% url 'settings-update-view' settings.author settings.id %}">Edit Blog</a></h3>

    {% endif %}
</div>

<style>
    * {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}


.popular {
    list-style-type: none;
}
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
</style>